#app{
    font-family: 'Montserrat', sans-serif;
}

.fw-bold{
    font-weight: 600;
}

.img-feedback{
    border-radius: 50%;
}

.image-jumbotron{
    object-fit: cover;
}

.container-jumbotron{
    position: relative;
}

.text-jumbotron {
    position: absolute;
    bottom: 145px;
    left: 65px;
}

.navbar-jumbotron {
    position: absolute;
    top: 50px;
    left: 65px;
}

.button-jumbotron {
    position: absolute;
    top: 50px;
    right: 65px;
}

.navbar-link{
    text-decoration: none;
    color: white;
}

.navbar-link:hover{
    text-decoration: none;
    font-weight: 900;
    color: white;
}

.navbar-title{
    font-weight: 900;
}

.account{
    text-decoration: none;
    color: black;
}

.account:hover{
    text-decoration: none;
    color: black;
    font-weight: bold;
}